.section-block {
   /* padding: 110px;*/
    padding-top: 110px;
}
@media(min-width:992px) {
    table{
        font-size:16px !important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
    .table1,table3{
        width:70% !important;
    }
    .table2{
        width:57% !important;
    }
    .erwm{
        float:right !important;
    }
}
@media(min-width:768px) {
    table{
        font-size:16px !important;
        margin-left:auto!important;
        margin-right:auto!important;
    }
    .table1,table3{
        width:70% !important;
    }
    .table2{
        width:57% !important;
    }
    .erwm{
        float:right !important;
    }
}
@media(max-width:992px) {
    .info-list {
        margin-bottom: 25px
    }
    .p-table,.service {
        margin-bottom: 25px
    }

    .skills-block .skill {
        margin-bottom: 40px
    }

    div:last-of-type>.p-table,div:last-of-type>.skill:last-of-type,div:last-of-type>.servic {
        margin-bottom: 0
    }

    .portfolio-items>li {
        width: 50%
    }

    .section {
        padding-top: 90px
    }

    .section-block {
        /* padding: 90px;*/
        padding-top: 0
    }

    .contact-info-icons {
        margin-top: 60px
    }
}

@media(max-width:768px) {
    .portfolio-items>li {
        width: 100%
    }
    .main-content {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }

    .about-btns>.btn-custom {
        margin-bottom: 10px
    }

    .intro-text>.intro-btns>.btn-custom {
        margin-bottom: 10px
    }

    .intro-text>h1 {
        font-size: 62px
    }
}

@media(max-width:550px) {
    .section {
        padding-top: 70px
    }

    .section-block {
        /*  padding: 70px;*/
        padding-top: 0
    }
}

@media(max-width:400px) {
    .form-group1 {
        font-size:12px;
    }
    .section {
        padding-top: 40px
    }

    .section-block {
        padding: 40px;
        padding-top: 0
    }
}